.cooking-times-component {
  display: flex;
  justify-content: center;

  .cooking-times-container {
    background: #ffffff;
    border: 1px solid #a9c623;
    border-top: 12px solid #a9c623;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    max-width: 600px;

    .time-item {
      margin: 10px 0;
      flex-basis: calc(33.333% - 20px);

      strong {
        color: #333;
      }

      span {
        color: #666;
      }
    }

    .nutrition-link {
      text-align: center;
      width: 100%;
      border-top: 1px solid #a9c623;
      padding-top: 10px;

      a {
        color: #6a5acd;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
